-- MySQL dump 10.13  Distrib 8.0.45, for Linux (x86_64)
--
-- Host: localhost    Database: prestamos_utp_db
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */
;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */
;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */
;
/*!50503 SET NAMES utf8mb4 */
;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */
;
/*!40103 SET TIME_ZONE='+00:00' */
;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */
;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */
;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */
;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */
;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `categories` (
    `id` int NOT NULL AUTO_INCREMENT,
    `name` varchar(100) NOT NULL,
    `description` varchar(255) DEFAULT NULL,
    PRIMARY KEY (`id`),
    UNIQUE KEY `name` (`name`),
    UNIQUE KEY `name_2` (`name`),
    UNIQUE KEY `name_3` (`name`),
    UNIQUE KEY `name_4` (`name`),
    UNIQUE KEY `name_5` (`name`),
    UNIQUE KEY `name_6` (`name`),
    UNIQUE KEY `name_7` (`name`),
    UNIQUE KEY `name_8` (`name`),
    UNIQUE KEY `name_9` (`name`),
    UNIQUE KEY `name_10` (`name`),
    UNIQUE KEY `name_11` (`name`),
    UNIQUE KEY `name_12` (`name`),
    UNIQUE KEY `name_13` (`name`),
    UNIQUE KEY `name_14` (`name`),
    UNIQUE KEY `name_15` (`name`),
    UNIQUE KEY `name_16` (`name`),
    UNIQUE KEY `name_17` (`name`),
    UNIQUE KEY `name_18` (`name`),
    UNIQUE KEY `name_19` (`name`),
    UNIQUE KEY `name_20` (`name`),
    UNIQUE KEY `name_21` (`name`)
) ENGINE = InnoDB AUTO_INCREMENT = 3 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;

--
-- Dumping data for table `categories`
--

LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */
;
INSERT INTO
    `categories`
VALUES (
        1,
        'Electr├│nica',
        'Componentes electr├│nicos'
    ),
    (
        2,
        'Audiovisuales',
        'Proyectores y c├ímaras'
    );
/*!40000 ALTER TABLE `categories` ENABLE KEYS */
;
UNLOCK TABLES;

--
-- Table structure for table `equipments`
--

DROP TABLE IF EXISTS `equipments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `equipments` (
    `id` int NOT NULL AUTO_INCREMENT,
    `name` varchar(150) NOT NULL,
    `serialNumber` varchar(50) NOT NULL,
    `status` enum(
        'available',
        'borrowed',
        'maintenance'
    ) DEFAULT 'available',
    `categoryId` int NOT NULL,
    `createdAt` datetime NOT NULL,
    `updatedAt` datetime NOT NULL,
    PRIMARY KEY (`id`),
    UNIQUE KEY `serialNumber` (`serialNumber`),
    UNIQUE KEY `serialNumber_2` (`serialNumber`),
    UNIQUE KEY `serialNumber_3` (`serialNumber`),
    UNIQUE KEY `serialNumber_4` (`serialNumber`),
    UNIQUE KEY `serialNumber_5` (`serialNumber`),
    UNIQUE KEY `serialNumber_6` (`serialNumber`),
    UNIQUE KEY `serialNumber_7` (`serialNumber`),
    UNIQUE KEY `serialNumber_8` (`serialNumber`),
    UNIQUE KEY `serialNumber_9` (`serialNumber`),
    UNIQUE KEY `serialNumber_10` (`serialNumber`),
    UNIQUE KEY `serialNumber_11` (`serialNumber`),
    UNIQUE KEY `serialNumber_12` (`serialNumber`),
    UNIQUE KEY `serialNumber_13` (`serialNumber`),
    UNIQUE KEY `serialNumber_14` (`serialNumber`),
    UNIQUE KEY `serialNumber_15` (`serialNumber`),
    UNIQUE KEY `serialNumber_16` (`serialNumber`),
    UNIQUE KEY `serialNumber_17` (`serialNumber`),
    UNIQUE KEY `serialNumber_18` (`serialNumber`),
    UNIQUE KEY `serialNumber_19` (`serialNumber`),
    UNIQUE KEY `serialNumber_20` (`serialNumber`),
    UNIQUE KEY `serialNumber_21` (`serialNumber`),
    KEY `categoryId` (`categoryId`),
    CONSTRAINT `equipments_ibfk_1` FOREIGN KEY (`categoryId`) REFERENCES `categories` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE = InnoDB AUTO_INCREMENT = 5 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;

--
-- Dumping data for table `equipments`
--

LOCK TABLES `equipments` WRITE;
/*!40000 ALTER TABLE `equipments` DISABLE KEYS */
;
INSERT INTO
    `equipments`
VALUES (
        1,
        'Osciloscopio Tektronix',
        'SN-001',
        'borrowed',
        1,
        '2026-05-16 17:03:43',
        '2026-05-17 19:19:25'
    ),
    (
        2,
        'Proyector Epson',
        'SN-002',
        'available',
        2,
        '2026-05-16 17:03:43',
        '2026-05-17 19:27:10'
    );
/*!40000 ALTER TABLE `equipments` ENABLE KEYS */
;
UNLOCK TABLES;

--
-- Table structure for table `loans`
--

DROP TABLE IF EXISTS `loans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `loans` (
    `id` int NOT NULL AUTO_INCREMENT,
    `userId` int NOT NULL,
    `equipmentId` int NOT NULL,
    `loanDate` datetime NOT NULL,
    `returnDate` datetime NOT NULL,
    `status` enum(
        'active',
        'returned',
        'overdue'
    ) DEFAULT 'active',
    `observations` text,
    `createdAt` datetime NOT NULL,
    `updatedAt` datetime NOT NULL,
    PRIMARY KEY (`id`),
    KEY `userId` (`userId`),
    KEY `equipmentId` (`equipmentId`),
    CONSTRAINT `loans_ibfk_41` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT `loans_ibfk_42` FOREIGN KEY (`equipmentId`) REFERENCES `equipments` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE = InnoDB AUTO_INCREMENT = 13 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;

--
-- Dumping data for table `loans`
--

LOCK TABLES `loans` WRITE;
/*!40000 ALTER TABLE `loans` DISABLE KEYS */
;
/*!40000 ALTER TABLE `loans` ENABLE KEYS */
;
UNLOCK TABLES;

--
-- Table structure for table `permissions`
--

DROP TABLE IF EXISTS `permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `permissions` (
    `id` int NOT NULL AUTO_INCREMENT,
    `name` varchar(100) NOT NULL,
    `description` varchar(255) NOT NULL,
    PRIMARY KEY (`id`),
    UNIQUE KEY `name` (`name`),
    UNIQUE KEY `name_2` (`name`),
    UNIQUE KEY `name_3` (`name`),
    UNIQUE KEY `name_4` (`name`),
    UNIQUE KEY `name_5` (`name`),
    UNIQUE KEY `name_6` (`name`),
    UNIQUE KEY `name_7` (`name`),
    UNIQUE KEY `name_8` (`name`),
    UNIQUE KEY `name_9` (`name`),
    UNIQUE KEY `name_10` (`name`),
    UNIQUE KEY `name_11` (`name`),
    UNIQUE KEY `name_12` (`name`),
    UNIQUE KEY `name_13` (`name`),
    UNIQUE KEY `name_14` (`name`),
    UNIQUE KEY `name_15` (`name`),
    UNIQUE KEY `name_16` (`name`),
    UNIQUE KEY `name_17` (`name`),
    UNIQUE KEY `name_18` (`name`),
    UNIQUE KEY `name_19` (`name`),
    UNIQUE KEY `name_20` (`name`),
    UNIQUE KEY `name_21` (`name`)
) ENGINE = InnoDB AUTO_INCREMENT = 12 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;

--
-- Dumping data for table `permissions`
--

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */
;
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */
;
UNLOCK TABLES;

--
-- Table structure for table `refresh_tokens`
--

DROP TABLE IF EXISTS `refresh_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `refresh_tokens` (
    `id` int NOT NULL AUTO_INCREMENT,
    `token` text NOT NULL,
    `userId` int NOT NULL,
    `expiresAt` datetime NOT NULL,
    PRIMARY KEY (`id`),
    KEY `userId` (`userId`),
    CONSTRAINT `refresh_tokens_ibfk_1` FOREIGN KEY (`userId`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE = InnoDB AUTO_INCREMENT = 16 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;

--
-- Dumping data for table `refresh_tokens`
--

LOCK TABLES `refresh_tokens` WRITE;
/*!40000 ALTER TABLE `refresh_tokens` DISABLE KEYS */
;
/*!40000 ALTER TABLE `refresh_tokens` ENABLE KEYS */
;
UNLOCK TABLES;

--
-- Table structure for table `role_permissions`
--

DROP TABLE IF EXISTS `role_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `role_permissions` (
    `roleId` int NOT NULL,
    `permissionId` int NOT NULL,
    PRIMARY KEY (`roleId`, `permissionId`),
    UNIQUE KEY `role_permissions_permissionId_roleId_unique` (`roleId`, `permissionId`),
    KEY `permissionId` (`permissionId`),
    CONSTRAINT `role_permissions_ibfk_1` FOREIGN KEY (`roleId`) REFERENCES `roles` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT `role_permissions_ibfk_2` FOREIGN KEY (`permissionId`) REFERENCES `permissions` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE = InnoDB DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;

--
-- Dumping data for table `role_permissions`
--

LOCK TABLES `role_permissions` WRITE;
/*!40000 ALTER TABLE `role_permissions` DISABLE KEYS */
;
INSERT INTO
    `role_permissions`
VALUES (1, 1),
    (1, 2),
    (2, 2),
    (1, 3),
    (1, 4),
    (1, 5),
    (1, 6),
    (2, 6),
    (3, 6),
    (1, 7),
    (2, 7),
    (1, 8),
    (2, 8),
    (1, 9),
    (2, 9),
    (1, 10),
    (3, 10),
    (1, 11),
    (2, 11),
    (3, 11);
/*!40000 ALTER TABLE `role_permissions` ENABLE KEYS */
;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `roles` (
    `id` int NOT NULL AUTO_INCREMENT,
    `name` varchar(50) NOT NULL,
    `description` varchar(255) NOT NULL,
    PRIMARY KEY (`id`),
    UNIQUE KEY `name` (`name`),
    UNIQUE KEY `name_2` (`name`),
    UNIQUE KEY `name_3` (`name`),
    UNIQUE KEY `name_4` (`name`),
    UNIQUE KEY `name_5` (`name`),
    UNIQUE KEY `name_6` (`name`),
    UNIQUE KEY `name_7` (`name`),
    UNIQUE KEY `name_8` (`name`),
    UNIQUE KEY `name_9` (`name`),
    UNIQUE KEY `name_10` (`name`),
    UNIQUE KEY `name_11` (`name`),
    UNIQUE KEY `name_12` (`name`),
    UNIQUE KEY `name_13` (`name`),
    UNIQUE KEY `name_14` (`name`),
    UNIQUE KEY `name_15` (`name`),
    UNIQUE KEY `name_16` (`name`),
    UNIQUE KEY `name_17` (`name`),
    UNIQUE KEY `name_18` (`name`),
    UNIQUE KEY `name_19` (`name`),
    UNIQUE KEY `name_20` (`name`),
    UNIQUE KEY `name_21` (`name`)
) ENGINE = InnoDB AUTO_INCREMENT = 4 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */
;
INSERT INTO
    `roles`
VALUES (
        1,
        'superuser',
        'Super administrador del sistema'
    ),
    (
        2,
        'admin',
        'Administrador de inventario'
    ),
    (
        3,
        'user',
        'Estudiante o profesor'
    );
/*!40000 ALTER TABLE `roles` ENABLE KEYS */
;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */
;
/*!50503 SET character_set_client = utf8mb4 */
;
CREATE TABLE `users` (
    `id` int NOT NULL AUTO_INCREMENT,
    `name` varchar(100) NOT NULL,
    `email` varchar(150) NOT NULL,
    `password` varchar(255) NOT NULL,
    `roleId` int NOT NULL,
    `createdAt` datetime NOT NULL,
    `updatedAt` datetime NOT NULL,
    PRIMARY KEY (`id`),
    UNIQUE KEY `email` (`email`),
    UNIQUE KEY `email_2` (`email`),
    UNIQUE KEY `email_3` (`email`),
    UNIQUE KEY `email_4` (`email`),
    UNIQUE KEY `email_5` (`email`),
    UNIQUE KEY `email_6` (`email`),
    UNIQUE KEY `email_7` (`email`),
    UNIQUE KEY `email_8` (`email`),
    UNIQUE KEY `email_9` (`email`),
    UNIQUE KEY `email_10` (`email`),
    UNIQUE KEY `email_11` (`email`),
    UNIQUE KEY `email_12` (`email`),
    UNIQUE KEY `email_13` (`email`),
    UNIQUE KEY `email_14` (`email`),
    UNIQUE KEY `email_15` (`email`),
    UNIQUE KEY `email_16` (`email`),
    UNIQUE KEY `email_17` (`email`),
    UNIQUE KEY `email_18` (`email`),
    UNIQUE KEY `email_19` (`email`),
    UNIQUE KEY `email_20` (`email`),
    UNIQUE KEY `email_21` (`email`),
    KEY `roleId` (`roleId`),
    CONSTRAINT `users_ibfk_1` FOREIGN KEY (`roleId`) REFERENCES `roles` (`id`) ON UPDATE CASCADE
) ENGINE = InnoDB AUTO_INCREMENT = 3 DEFAULT CHARSET = utf8mb4 COLLATE = utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */
;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */
;
INSERT INTO
    `users`
VALUES (
        1,
        'Super Admin UTP',
        'super@admin.com',
        '$2b$10$AJsX.ZYTKuId9tX1u2zRkODPruP3NvasjJ5/haFy1dgI2d03o4c4G',
        1,
        '2026-05-16 17:03:42',
        '2026-05-16 17:03:42'
    ),
    (
        2,
        'Carlos Estudiante',
        'estudiante@utp.edu.co',
        '$2b$10$HHX.rZbhKmYr3tzseujdtueQ9SAQVttWymkX5w..IkFROlNa6lM4O',
        3,
        '2026-05-17 19:23:36',
        '2026-05-17 19:23:36'
    );
/*!40000 ALTER TABLE `users` ENABLE KEYS */
;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */
;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */
;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */
;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */
;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */
;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */
;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */
;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */
;

-- Dump completed on 2026-05-17 20:26:51